* {
   padding: 0;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   color: #333;
}


body {
   overflow: overlay;
}

::-webkit-scrollbar {
   width: .3vw;
   height: 3.3vh;
}

::-webkit-scrollbar-thumb {
   background: #333;
   border-radius: .3rem;
}

.container {
   background-color: #111;
   overflow: hidden;
}

.salute {
   height: 100vh;
   overflow: hidden;
   display: flex;
   align-items: center;
}

.salute--text {
   flex: 3;
   font-size: 60vw;
   cursor: default;
   user-select: none;
}

.salute--img {
   flex: 1;
   height: 100%;
   padding-top: 1rem;
}

.salute--img img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.author {
   height: 100vh;
   background-color: rebeccapurple;
}

.author-name {
   font-size: 15vw;
   text-align: center;
   cursor: default;
   user-select: none;
   line-height: 100vh;
}

.job-title-container {
   height: 100vh;
}

.dark {
   background: url('./assets/images/bg1.png');
}

.purple {
   background: rebeccapurple url('./assets/images/bg2.png');
}

.job-title {
   font-size: 10vw;
   cursor: default;
   text-align: center;
   user-select: none;
   line-height: 100vh;
}

.projects {
   display: flex;
   flex-direction: column;
   gap: 5rem;
   padding-inline: 5rem;
}

.projects h2 {
   font-size: 10vw;
   cursor: default;
   user-select: none;
}

.project {
   height: 100vh;
   display: flex;
   align-items: center;
   gap: 5rem;
}

.project:nth-child(2n) {
   flex-direction: row-reverse;
}

.demo {
   flex: 1;
}

.laptop {
   width: 600px;
   height: 379px;
   position: relative;
}

.laptop--screen {
   position: absolute;
   inset: 1.2rem 5rem 4.9rem 4.3rem;
   overflow: auto;
}

.laptop--screen::-webkit-scrollbar {
   display: none;
}

.laptop--screen img {
   width: 100%;
}

.phone {
   width: 300px;
   height: 600px;
   position: relative;
}

.phone--screen {
   position: absolute;
   inset: .9rem 1rem;
   border-radius: 1.8rem;
   overflow: auto;
}

.phone--screen::-webkit-scrollbar {
   display: none;
}

.phone--screen img {
   width: 100%;
}

.info {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   align-items: center;
}

.info--title {
   font-size: 5vw;
   color: #555;
}

.info--desc {
   font-size: 1.25rem;
   color: #555;
   text-align: justify;
   line-height: 2.5rem;
}

.info--link {
   position: relative;
   padding: 10px 20px;
   border: 2px solid #555;
   color: #555;
   text-decoration: none;
   font-weight: 600;
   overflow: hidden;
   user-select: none;
}

.info--link::after {
   content: "View Demo";
   position: absolute;
   width: 100%;
   top: 0;
   left: -100%;
   padding-block: 10px;
   text-align: center;
   background-color: #555;
   color: #111;
   transition: .5s all ease-in-out;
}

.info--link:hover::after {
   left: 0;
}

.github {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.github h2 {
   font-size: 6.25rem;
   cursor: default;
   user-select: none;
}

.github--chart {
   width: 820px;
   text-align: center;
   text-decoration: none;
}

.dates {
   padding: 10px;
   color: #555;
   font-size: .75rem;
   display: flex;
   justify-content: space-around;
}

.boxes {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   cursor: default;
}

.box {
   width: 15px;
   aspect-ratio: 1;
   background-color: #222;
   border-radius: 2px;
   cursor: pointer;
   transition: 1s all ease-in-out;
}

.active:nth-child(4n) {
   background-color: #195b2c;
}

.github--chart:hover .active:nth-child(2n+1) {
   background-color: #195b2c;
}

.github--chart:hover .active:nth-child(2n) {
   background-color: #063f24;
}